.profile {
  width: 400px;
  display: inline-block;
  margin: 30px auto 50px;
  padding-top: 8px;
  border-radius: 20px;

  background-color: rgb(206, 206, 206);

  overflow: hidden;

  margin-bottom: 50px;
}

.description {
  padding-top: 24px;
  margin-bottom: 20px;
}

.avatar {
  background-color: azure;

  width: 400px;
  border-radius: 30%;
  border: 1px solid aquamarine;
}
.name {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  color: rgb(35, 38, 32);
  margin-bottom: 8px;
}

.tag,
.location {
  text-align: center;
  margin-bottom: 8px;
}

.stats {
  list-style: none;
  display: flex;
  /* gap: 15%; */
}
