.statistics {
  width: 450px;
  display: inline;
  background-color: #fff;

  margin: 0 auto;
  border-radius: 10px;

  overflow: hidden;

  margin-bottom: 30px;
}
.title {
  text-align: center;
  padding: 15px 0;
  color: #808080;
}
.statList {
  display: flex;
}
